* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F55B64;
    --secondary-color: #C2373F;
    --neutral: #F9F9F9;
    --black: #131730;
    --white: #FFFFFF;
    --title-font: "Krona One", sans-serif;
    --text-font: 'Numans', sans-serif;
    --blue-gradient: linear-gradient(180deg, #000000 0%, #26327F 100%);
    --purple: #9353ff;
}

body {
    background: var(--blue-gradient);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 440px;
    align-items: center;
    background-color: var(--neutral);
    padding: 56px;
    border-radius: 16px;

}

h2 {
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: 20px;
    line-height: 33px;

}

hr {
    border: none;
    border-bottom: 3px dotted var(--primary-color);
    margin-bottom: 24px;
}

p {
    font-family: var(--text-font);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
}

#input__item {
    padding: 12px 16px;
    display: block;
    border-radius: 24px;
    border: 1px solid var(--black);
    width: 307px;
    gap: 10px;

}


input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;

}


.container__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}



#add__btn{

    text-align: center;
    padding: 12px 16px;
    background-color: var(--primary-color);
    border-radius: 24px;
    color: var(--neutral);
    font-family: var(--text-font);
    font-size: 18px;
    line-height: 24px;
    border: none;
}

.list {
    width: 100%;
}

li {
    display: flex;
    gap: 12px;
}

li span {
    flex: 1;
}

li span p:last-child {
    font-size: 12px;
    line-height: 20px;
}

li button {
    background-color: transparent;
    border: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkbox__input {
    display: none;
}

.custom__checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 1px solid var(--black);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
}

.custom__checkbox.checked {
    background-color: var(--black);
    position: relative;
}

.custom__checkbox.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    top: -10%;
    width: 5px;
    height: 14px;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    transform: rotate(-140deg);
}

.checkbox__container {
    display: inline;
}